/*  override to tweak hero image and header image */

.bg-top {
    position: relative;
    height: 400px;
  }
  
  header.cover > div.bg-black-60 {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.bg-black {
    background-color: rgba(0,0,0,.85);
    height: 80px;
    background-size: cover;
/*    background-position: center; */
    background-image: url("/images/lhca-drone.jpg");
  }

.fw2, .fw4
{
    color: white;
    text-shadow: 
      3px 3px 8px rgba(0, 0, 0, 0.9),
      0 0 15px rgba(0, 0, 0, 0.7),
      0 0 20px rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

.w-two-thirds-l {
    width: 100% !important;
    max-width: 100% !important;
  }

aside {
    display: none;
  }
  

  /* for FAQ */
  details {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
  }
  
  summary {
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.5em;
    list-style: none; /* Remove the default arrow/marker */
  }
  
  summary::-webkit-details-marker {
    display: none; /* Hide the default arrow in WebKit browsers */
  }
  
  summary::before {
    content: '\002B'; /* Add a plus sign as a custom marker */
    float: left;
    margin-right: 0.5em;
  }
  
  details[open] > summary::before {
    content: '\002D'; /* Change to a minus sign when open */
  }


